@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+KR&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Libre Baskerville", serif;
    color: #000;
    font-size: 25px;
}

button,
a {
    color: inherit;
}

.nav-wrapper {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    background-color: #98fd00;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
}

.mobile-menu {
    display: none;
}

.menu-item li:first-child {
    margin-right: 30px;
}

.menu {
    display: inline-block;
    justify-content: space-between;
}

.menu a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    border-bottom: 3px solid #000;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    background-color: #98fd00;
}

.footer-conents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer-conents .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link a:last-child {
    margin-left: 30px;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }

    .nav-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .mobile-menu a li {
    }
}
