@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+KR&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Libre Baskerville", serif;
    color: #000;
    font-size: 25px;
}

button,
a {
    color: inherit;
}

/* nav Start */
.nav-wrapper {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    background-color: #00ff00;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
}

.menu {
    display: inline-block;
    text-decoration: none;
}

.menu-item li:first-child {
    margin-right: 30px;
}

.mobile-menu {
    display: none;
}

/* nav End  */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    background-color: #00ff00;
}

.footer-conents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer-conents li p {
    line-height: 1.5;
}

.footer-conents .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link a:last-child {
    margin-left: 30px;
}
@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    footer {
        padding: 30px 0;
    }

    .footer-conents {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    .footer-conents li p {
        font-size: 1.2rem;
    }
    .social-link {
        font-size: 30px;
    }
}
