@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Sans+KR&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Libre Baskerville", serif;
}

.nav-wrapper {
    background-color: #98fd00;
    padding: 30px;
}

.nav-menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.flow-info dt:first-child {
    margin-right: 30px;
}

.menu {
    display: inline-block;
    justify-content: space-between;
}

.menu a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    border-bottom: 3px solid #000;
}
